<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>StocksNow</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">Stocks<span class="logo-2">Now</span></div>
        </nav>
    </header>
    <section>
        <div class="scroll-container">
            <div class="scroll-stock-container">
                <marquee behavior="scroll" direction="left">Hello</marquee>
                <!-- <div class="stock-01">
                    <div>
                        <p>S&P500</p>
                        <p>23,606.58</p>
                    </div>
                    <div class="stock-01-2">
                        <p>▼</p>
                        <p>63.33</p>
                    </div>
                </div>
                <div class="stock-01">
                    <div>
                        <p>S&P500</p>
                        <p>23,606.58</p>
                    </div>
                    <div class="stock-01-2">
                        <p>▼</p>
                        <p>63.33</p>
                    </div>
                </div>
                <div class="stock-01">
                    <div>
                        <p>S&P500</p>
                        <p>23,606.58</p>
                    </div>
                    <div class="stock-01-2">
                        <p>▼</p>
                        <p>63.33</p>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <main>
        <div>
            <section>
                <div class="search-box-container">
                    <form action="/search_ticker" method="POST">
                        <input type="text" placeholder="Search Ticker" name="ticker">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </section>
            <section>
                <div class="stock-info-container">
                    <p class="stock-content-ticker"></p>
                    <div class="stock-content-box">
                        <p>Name:</p>
                        <p></p>
                    </div>
                    <div class="stock-content-box">
                        <p>Current Price:</p>
                        <p></p>
                    </div>
                    <div class="stock-content-box">
                        <p>Previous Close:</p>
                        <p></p>
                    </div>
                    <div class="stock-content-box">
                        <p>Bid:</p>
                        <p></p>
                    </div>
                    <div class="stock-content-box">
                        <p>Ask:</p>
                        <p></p>
                    </div>
                    <div class="stock-content-box">
                        <p>Day's Range:</p>
                        <p></p>
                    </div>
                    <div class="stock-content-box">
                        <p>52 Week Range:</p>
                        <p></p>
                    </div>
                    <div class="stock-content-box">
                        <p>Volume:</p>
                        <p></p>
                    </div>
                    <div class="stock-content-box">
                        <p>Avg. Volume:</p>
                        <p></p>
                    </div>
                    <div class="stock-content-box">
                        <p>Market Cap:</p>
                        <p></p>
                    </div>
                </div>
            </section>
        </div>
        <div>

            <section>
                <div class="news-container">
                    <p class="news-content-title">NEWS</p>
                    <div class="news-content-box">
                        <div class="news-image-container">
                            <img src="https://www.fwhealth.org/wp-content/uploads/2017/03/placeholder-500x500.jpg" alt="placeholder">
                        </div>
                        <div class="news-content-container">
                            <p class="news-title">11 Best Virtual Reality Stocks to Buy</p>
                            <p class="news-snippet">In this piece, we will take a look at the 11 best virtual reality stocks to buy...</p>
                        </div>
                    </div>
                    <div class="news-content-box">
                        <div class="news-image-container">
                            <img src="https://www.fwhealth.org/wp-content/uploads/2017/03/placeholder-500x500.jpg" alt="placeholder">
                        </div>
                        <div class="news-content-container">
                            <p class="news-title">11 Best Virtual Reality Stocks to Buy</p>
                            <p class="news-snippet">In this piece, we will take a look at the 11 best virtual reality stocks to buy...</p>
                        </div>
                    </div>
                    <div class="news-content-box">
                        <div class="news-image-container">
                            <img src="https://www.fwhealth.org/wp-content/uploads/2017/03/placeholder-500x500.jpg" alt="placeholder">
                        </div>
                        <div class="news-content-container">
                            <p class="news-title">11 Best Virtual Reality Stocks to Buy</p>
                            <p class="news-snippet">In this piece, we will take a look at the 11 best virtual reality stocks to buy...</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
</html>